<h2>Create Wine</h2>
<div class="form-group">
  <form (ngSubmit)="createWine()" [formGroup]="wineForm">
    <div>
      <div class="wine-name">
        <input
          type="text"
          placeholder="Wine Name"
          name="name"
          formControlName="name"
          required
        />
        <div
          *ngIf="
            (name.dirty || message) &&
            name.invalid
          "
          class="msgerror"
        >
          <div *ngIf="name.errors.required">
            Wine Name is required
          </div>
          <div *ngIf="name.errors.invalidName">
          Wine Name incorrect. {{name.errors.invalidName}}
        </div>

        </div>
      </div>

      <div class="wine-price">
        <input
          type="number"
          placeholder="Wine Price"
          name="price"
          formControlName="price"
          required
        />
        <div
          *ngIf="
            (price.dirty || message) &&
            price.invalid
          "
          class="msgerror"
        >
          <div *ngIf="price.errors.required">
            Wine Price is required
          </div>
          <div *ngIf="price.errors.min">
          Wine Price must be > 1
        </div> 
        </div>
      </div>
      <div class="wine-imageUrl">
        <input
          type="text"
          placeholder="Wine Image URL"
          name="imageUrl"
          formControlName="imageUrl"
          required
        />
        <div
          *ngIf="
            (imageUrl.dirty || message) &&
            imageUrl.invalid
          "
          class="msgerror"
        >
          <div *ngIf="imageUrl.errors.required">
            Wine Image URL is required
          </div>
          <div *ngIf="imageUrl.errors.pattern">
            Wine Image URL does not seem to be a valid URL
          </div>
        </div>
      </div>
      <div class="wine-onSale">
        <input type="checkbox" name="onSale" formControlName="isOnSale" /><label
          >On Sale</label
        >
      </div>
    </div>
    <button type="submit">Create</button>
  </form>
</div>
<div *ngIf="message" class="msgerror">{{ message }}</div>
<p>Form Control value: {{ wineForm.value | json }}</p>
<p>Form Control status: {{ wineForm.status | json }}</p>

